:root{
    --white: #F5F5F7;
    --blue: #0065CC;
    --Black: #181818;
    --TitanNature: #BBB6AD;
    --TitanBlue: #505966;
    --TitanWhite: #F3F2EC;
    --TitanBlack: #555658;
}

@import url('https://fonts.cdnfonts.com/css/inter');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: "Inter", sans-serif;
}




header{
    width: 100%;
    height: 50px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #Icon{
    filter: invert(100%) sepia(27%) saturate(601%) hue-rotate(241deg) brightness(103%) contrast(94%);
}

header li{
    display: inline-block;
    padding: 0px 20px;
}

header .Head_List{
    display: flex;
    align-items: center;
}

header li, a{
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}



article{
    width: 100%;
    height: auto;
    padding: 53px;
    background-color: #fff;
}

article .TieuDeIphone h1{
    font-size: 48px;
    margin-bottom: 20px;
}

article .TieuDeIphone p{
    font-size: 12px;
    margin-bottom: 10px;
}

article .iPhone15_Pro{
    display: flex;
    width: 100%;
    height: 850px;
    margin-top: 35px;
}

article .iPhone15_Pro .Pic_iPhone{
    width: 750px;
    height: 850px;
}

.Pic_iPhone .Main_Pic{
    width: 750px;
    height: 700px;
    border-radius: 40px;
}

.Main_Pic img{
    width: 750px;
    height: 700px;
    object-fit: cover;
    border-radius: 40px;
}

.Pic_iPhone .Small_Pic{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.Small_Pic li{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.Small_Pic img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}

article .iPhone15_Pro .Info_iPhone{
    width: 400px;
    height: 850px;
    margin: 0 120px;
}

.iPhone15_Pro .Screen_Option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 120px;
    padding: 15px;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.iPhone15_Pro .Screen_Option h5{
    font-size: 17px;
    margin-bottom: 13px;
}

.Screen_Option .Screen p{
    font-size: 14px;
}

.Screen_Option .Price{
    font-size: 14px;
}

.Color{
    display: flex;
    margin-top: 15px;
}

.ColorIphone{
    width: 30px;
    height: 30px;
    background-color: #0065CC;
    margin-right: 15px;
    border-radius: 100px;
}

.DungLuong{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.DungLuong h5{
    width: 85px;
    height: 80px;
    border: 2px solid #181818;
    border-radius: 20px;
    line-height: 80px;
    text-align: center;
}

#Cart{
    width: 400px;
    height: 80px;
    border-radius: 20px;
    background-color: var(--blue);
    font-size: 17px;
    color: var(--white);
}

article .PhuKien{
    width: 100%;
    height: 547px;
    margin-top: 120px;
}

article .TieuDe{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

article .TieuDe h1{
    font-size: 48px;
    flex-grow: 1;
}

article .Container_SanPham{
    display: flex;
    justify-content: center;
}

article .SanPham{
    width: 320px;
    height: 450px;
    margin: 40px 20px 0px 20px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

article .SanPham img{
    height: 200px;
    margin-bottom: 15px;
}

article .Mac .SanPham .MacProAir{
    margin-bottom: 82px;
    height: 135px;
}

article .SanPham h1{
    margin-top: 15px;
    margin-bottom: 12.5px;
}

article .SanPham h4{
    font-size: 17px;
    margin-top: 12.5px;
    margin-bottom: 10px;
}

article #btn_TimHieuThem{
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    font-size: 17px;
    color: var(--white);
    background-color: var(--Black);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

article #btn_Mua{
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    font-size: 17px;
    color: var(--white);
    background-color: var(--blue);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}




footer{
    width: 100%;
    height: 470px;
    background-color: var(--Black);
    padding: 15px;
}

footer #Icon{
    filter: invert(100%) sepia(27%) saturate(601%) hue-rotate(241deg) brightness(103%) contrast(94%);
}

footer .Info_Company{
    display: flex;
    align-items: center;
}

footer .Info_Company p{
    color: var(--white);
    font-size: 12px;
}

footer .Info_Company img{
    margin-right: 10px;
}

footer .Container_Info{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 23px;
}

footer .Footer_Info{
    width: 195px;
    height: 315px;
    margin: 0px 17.5px 0px 17.5px;
}

footer .Footer_Info li h6{
    color: white;
    font-size: 12px;
}

footer .Footer_Info li{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

footer .Footer_Info a:hover{
    text-decoration: underline;
}

footer .Final_Info{
    color: var(--white);
    font-size: 12px;
}

footer .LienHe{
    display: flex;
    margin-bottom: 10px;
}

footer .Find,
footer .Call{
    color: var(--blue);
}